
.projectCard{
    display: flex;
    width: 80vw;
    justify-content: center;
    gap: 30px;
    background-color: #f4f4f4;
    padding: 20px;
}

.text{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    font-weight: bold;
}

.icon{
    display: flex;
    flex-direction: column;
    gap: 10%;
}